scratch-pad.txt

.env
.env.dev

4.8.23_Rent_Roll.xlsx
CDV Rent Roll Detail - 1 Line 08.23.2023.xlsx
CDV Rent Roll Detail 08.23.2023.xlsx
RentRollwithLeaseCharges08_16_2023.xlsx
RentRollwithLeaseCharges08_23_2023.xlsx
RentRollwithLeaseCharges10_06_2023.xlsx