scratch-pad.txt

.env
.env.dev

private_test_data_01.xlsx
private_test_data_02.xlsx
private_test_data_03.xlsx
private_test_data_04.xlsx
private_test_data_05.xlsx
private_test_data_06.xlsx
4.8.23_Rent_Roll.xlsx
CDV Rent Roll Detail - 1 Line 08.23.2023.xlsx
CDV Rent Roll Detail 08.23.2023.xlsx
RentRollwithLeaseCharges08_16_2023.xlsx
RentRollwithLeaseCharges08_23_2023.xlsx
RentRollwithLeaseCharges10_06_2023.xlsx